:root {
    --blue: #92A7F7;
    --violet: #C63BFA;
    --white: #ffffff;
    --background-color: #310e3d;
    --background-body: #310e3d;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}
body {
    background-color: var(--background-body);
    margin: 0;
    padding: 0;
}
#global-container {
    width: 70%;
    max-width: 980px;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--background-color);
    display: block;
}
.header-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.title-text{
    text-align: center;
    padding-top: 5rem;
}
.indice-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.sub-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--blue);
    padding: 2rem;
}
.lessons-links {
    width: 500px auto;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.lessons {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid;
    border-radius: 5px;
}
.lessons li:hover {
    color: var(--white);
}
li {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    font-weight: lighter;
}
.lessons li a {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
a:hover {
    font-weight: bolder;
}
@media(max-width:768px) {
    #global-container {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        align-items: center;
        font-size: 14px;
    }
    .lessons-links {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    li {
        list-style: none;
        width: 96%;
        margin: 0 auto;
        line-height: 30px;
    }
}
@media(max-width:580px) {
    .lessons {
        width: 100%;
        padding: .1rem;
        margin: 0 auto;
        margin-top: 5px;
        border: 2px solid;
    }
}
@media(max-width:580px) {
    .lessons {
        width: 100%;
        padding: .1rem;
        margin: 0 auto;
        margin-top: 5px;
        border: 2px solid;
    }
}