:root {
    --blue: #0e38de;
    --violet: #C63BFA;
    --white: #ffffff;
    --background-color: #280235;
    --background-body: #312f2f;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--white);
}

body {
    background-color: var(--background-body);
}

#global-container {
    width: 70%;
    max-width: 780px;

    height: 100vh;
    margin: 0 auto;
}

header {
    width: 100%;
}

header .title {
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
}

.span {
    color: var(--blue);
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    height: fit-content;
}

h5 {
    text-align: center;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    height: auto;
    align-items: center;
    justify-content: center;
}

.cursos {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
}

span {
    color: var(--blue);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.course-list-items {
    list-style: none;
}

img {
    width: 80px;
    height: 80px;
    margin: 5px;
}



@media(max-width: 990px) {
    #global-container {
        width: 100%;    
        height: 100vh;
    }
    
}

@media(max-width: 700px) {
    .course-list {
        column-gap: 0px;
        margin: 10px;
        padding: 10px;
    }
}


@media(max-width: 450px) {
    .course-list {
        height: fit-content;
    }
}