:root {
    --blue: #92A7F7;
    --violet: #C63BFA;
    --white: #ffffff;
    --background-color: #310e3d;
    --background-body: #310e3d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--white);
}
* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--violet);
    color: var(--white);
}

.container {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}